<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content color="primary">
  <div class="splash-info" padding>
    <div class="splash-logo"></div>
  </div>
  <form #form="ngForm" (ngSubmit)="doLogin(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        </ion-row>
        <ion-row color="primary" justify-content-center>
        
        <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div>
            <ion-item>
              <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
              <ion-input name="email" type="email" placeholder="" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
              <ion-input name="password" type="password" placeholder="" ngModel required></ion-input>
            </ion-item>
          </div>
          <!-- <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div> -->
          <div padding  *ngIf="!on_register">
            <button ion-button  size="large" type="submit" [disabled]="form.invalid" class="connexion"  block>{{ 'LOGIN_BUTTON' | translate }}</button>
          </div>
          
        <div class="col-xs-1 col-sm-1 col-lg-5 col-md-3"  *ngIf="on_register"
        style="text-align: center;align-self: center;" padding>
            <img src="../../assets/img/waitting.gif" alt="" style="background-size: 100%;
            width: 80px;
            height: 80px;">
        </div>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <div text-center>
      If you don't have an account, please <a routerLink='/signup'>
        register</a> first!
        </div>
    </ion-row> -->
    </ion-grid>
  </form>
</ion-content>
